---
import "@fontsource/prompt";
interface Props {
	title: string;
}

const { title } = Astro.props;

const description =
	"แชตบอท บน ไลน์ เก็บรูป, วิดิโอ, และ ไฟล์ อัตโนมัติ, จะไม่มีปัญหาไฟล์หมดอายุ อีกต่อไป";

import { SEO } from "astro-seo";
---

<!doctype html>
<html lang="en" data-theme="lofi">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<SEO
			title={title}
			description={description}
			openGraph={{
				basic: {
					title: title,
					type: "website",
					image: "/webapp/blog-preview-1.png",
				},
				optional: {
					description: description,
				},
				image: {
					alt: "logo gebwai",
				},
			}}
			twitter={{
				creator: "@Wasdeekrub",
			}}
			extend={{
				// extending the default link tags
				link: [{ rel: "icon", href: "/favicon.png" }],
				// extending the default meta tags
				meta: [
					{
						name: "keywords",
						content:
							"ไลน์, Line, Google Drive, ไฟล์บนไลน์หมดอายุ, เก็บไฟล์บนไลน์อัตโนมัติ",
					},
				],
			}}
		/>

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-155723828-2"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());

			gtag("config", "UA-155723828-2");
		</script> -->

		<script charset="utf-8" src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
	</head>
	<body>
		<slot />
	</body>
</html>
