---
---
<header class="navbar bg-base-100">
  <div class="navbar-start">
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
      </label>
      <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
        <li tabindex="0">
          <a class="justify-between">
            รู้จัก "เก็บไว้"
            <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"/></svg>
          </a>
          <ul class="p-2 bg-base-100">
            <li><a href="#case">เก็บไว้ ช่วยอะไร?</a></li>
            <li><a href="#start">เริ่มต้นใช้งาน</a></li>
            <li><a href="#security">ความปลอดภัย</a></li>
          </ul>
        </li>
        <li><a href="#pricing">แพ็คเกจ</a></li>
        <li><a href="https://github.com/codustry/gebwai-community" target="_blank">คอมมูนิตี้</a></li>
        <li tabindex="0">
          <a class="justify-between">
            ความช่วยเหลือ
            <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"/></svg>
          </a>
          <ul class="p-2 bg-base-100">
            <li><a href="/faq">คำถามที่พบบ่อย</a></li>
            <li><a href="/privacy">นโยบายความเป็นส่วนตัว</a></li>
            <li><a href="https://lin.ee/V0hvk0D" target="_blank">ติดต่อทีมงาน</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <a class="btn btn-ghost normal-case text-xl" href="/">
      <img src="https://ik.imagekit.io/codustry/gebwai/webapp/09122021/logo-text_E033c2W5g.svg?updatedAt=1631423536990" alt="Gebwai Logo" height="40px" />
    </a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li tabindex="0">
        <a>
          รู้จัก "เก็บไว้" 
          <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/></svg>
        </a>
        <ul class="p-2 bg-base-100">
          <li><a href="#case">เก็บไว้ ช่วยอะไร?</a></li>
          <li><a href="#start">เริ่มต้นใช้งาน</a></li>
          <li><a href="#security">ความปลอดภัย</a></li>
        </ul>
      </li>
      <li><a href="#pricing">แพ็คเกจ</a></li>
      <li><a href="https://github.com/codustry/gebwai-community" target="_blank">คอมมูนิตี้</a></li>
      <li tabindex="0">
        <a>
          ความช่วยเหลือ
          <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/></svg>
        </a>
        <ul class="p-2 bg-base-100">
          <li><a href="/faq">คำถามที่พบบ่อย</a></li>
          <li><a href="/privacy">นโยบายความเป็นส่วนตัว</a></li>
          <li><a href="https://lin.ee/V0hvk0D" target="_blank">ติดต่อทีมงาน</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="navbar-end">
    <a class="btn btn-outline" href="https://lin.ee/BJ4dbWO" target="_blank">
      <img src="https://ik.imagekit.io/codustry/gebwai/webapp/09122021/icon-line_0rpRKefoO.svg?updatedAt=1631423624423" height="20px" class="mr-2" /> 
      เพิ่มเพื่อน
    </a>
  </div>
</header>

<div class="navbar bg-base-100">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
      </div>
      <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
        <li><a>Item 1</a></li>
        <li>
          <a>Parent</a>
          <ul class="p-2">
            <li><a>Submenu 1</a></li>
            <li><a>Submenu 2</a></li>
          </ul>
        </li>
        <li><a>Item 3</a></li>
      </ul>
    </div>
    <a class="btn btn-ghost text-xl">daisyUI</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li><a>Item 1</a></li>
      <li>
        <details>
          <summary>Parent</summary>
          <ul class="p-2">
            <li><a>Submenu 1</a></li>
            <li><a>Submenu 2</a></li>
          </ul>
        </details>
      </li>
      <li><a>Item 3</a></li>
    </ul>
  </div>
  <div class="navbar-end">
    <a class="btn">Button</a>
  </div>
</div>