---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';

---

<Layout title="Gebwai (เก็บไว้)">
  <Header />
  <div class="hero min-h-screen bg-base-200">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <img src="https://ik.imagekit.io/codustry/gebwai/webapp/09122021/tr:h-0.6/hero-education_9f40WjXsB.png?updatedAt=1631424894531" class="max-w-sm rounded-lg shadow-2xl" />
      <div>
        <h1 class="text-5xl font-bold">วัยว้าวุ่นเรียก "พี่"</h1>
        <p class="py-6">5 ปีผ่านไป จะ iPhone 24, Google Pixel 12 ละ ย้อนกลับมาดูรูปที่ไปกินข้าวก่อนเป็นแฟนกันยังอยู่เลย</p>
        <h1 class="text-5xl font-bold">วัยเรียนเรียก "เพื่อน"</h1>
        <p class="py-6">มีครบทุกชีทไว้อ่านก่อนสอบ ไม่ว่าจะเป็นไฟล์ที่อาจารย์ส่งให้ตั้งแต่ต้นเทอม สไลด์ในแต่ละคาบเรียน หรือสรุปที่เพื่อนทำมาแชร์กัน เก็บไว้ช่วยรวมไว้ที่เดียวเลย</p>
      </div>
    </div>
  </div>

  <div class="hero min-h-screen bg-base-200">
    <div class="hero-content flex-col lg:flex-row">
      <div class="mockup-phone">
        <div class="camera"></div> 
        <div class="display">
          <div class="artboard artboard-demo phone-1">
            <img class="rounded-lg shadow-2xl" src="https://ik.imagekit.io/codustry/gebwai/webapp/09122021/hero-bankslip_OUIRjqs287V.png?updatedAt=1631492926805" alt="App screenshot" />
          </div>
        </div>
      </div>
      <div>
        <h1 class="text-5xl font-bold">วัยทำงานเรียก "เลขา"</h1>
        <p class="py-6">ไม่ว่าจะทำงานกลุ่มเล็ก กลุ่มใหญ่ "เก็บไว้" ช่วยทุกๆ คน Productive ได้อีก</p>
        <ul class="list-disc pl-5">
          <li>
            <h3 class="font-bold">เอกสารไม่หาย ไม่มีหมดอายุ</h3>
            <p>คุยงานกับลูกค้า เมื่อ 3 เดือนก่อน ไม่มีหลุด เพราะเก็บไว้ช่วยเก็บทุกไฟล์ไว้ ไม่มีหมดอายุ</p>
          </li>
          <li>
            <h3 class="font-bold">เป็นมิตรกับเพื่อนร่วมงาน</h3>
            <p>Forward ข้อมูลโปรเจคให้ทีมอื่น Work ต่อ ง่ายนิดเดียว แค่กดแชร์ ไม่ต้องเสียเวลารวบรวมไฟล์เอง</p>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="hero min-h-screen bg-base-200">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <div class="text-center lg:text-left">
        <h1 class="text-5xl font-bold">เริ่มต้นใช้งาน</h1>
        <p class="py-6">แค่เพียง 3 ขั้นตอนสั้นๆ ก็ใช้งานได้แล้ว</p>
        <a href="https://youtu.be/bdM662aAi_k" class="btn btn-primary">ดูวีดิโอ เริ่มต้นการใช้งาน</a>
      </div>
      <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
        <div class="card-body">
          <div class="form-control">
            <label class="label">
              <span class="label-text">1. แอดไลน์ "เก็บไว้"</span>
            </label>
            <p>เพิ่มเพื่อน "เก็บไว้" ในไลน์ ด้วย QR Code หรือไลน์ไอดี @gebwai</p>
            <a href="https://lin.ee/BJ4dbWO" target="_blank" class="btn btn-outline mt-4">
              <img src="https://ik.imagekit.io/codustry/gebwai/webapp/09122021/icon-line_0rpRKefoO.svg?updatedAt=1631423624423" class="h-6 mr-2" />
              เพิ่มเพื่อน
            </a>
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">2. เชื่อมต่อกับคลาวด์</span>
            </label>
            <p>เมื่อเป็นเพื่อนกับ "เก็บไว้" แล้ว เชื่อมต่อกับคลาวด์เพื่อใช้บริการได้เลย โดยเลือกผู้ให้บริการคลาวด์ที่ต้องการได้ 1 คลาวด์ แล้วเชื่อมต่อเพื่อเข้าสู่ระบบ</p>
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">3. ชวน "เก็บไว้" เข้ากลุ่ม</span>
            </label>
            <p>หลังจากเชื่อมต่อบริการคลาวด์แล้ว ชชวน "เก็บไว้" เข้ากลุ่ม และ ส่งไฟล์ในกลุ่ม หรือ ส่งไฟล์ให้เก็บไว้โดยตรงได้เลย "เก็บไว้" จะทำการเก็บขึ้นคลาวด์ให้เองโดยอัตโนมัติ</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hero min-h-screen bg-base-200">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <h1 class="text-5xl font-bold">แยกเก็บสลิปโอนเงิน หาง่าย</h1>
        <p class="py-6">สำหรับสายโอน เก็บไว้สามารถแยกโฟลเดอร์สำหรับสลิปโอนเงินได้! ทีนี้จะหาดูสลิปย้อนหลัง ก็ง่ายนิดเดียว (อ้อ แต่ต้องเป็นสลิปที่มี QR code เท่านั้นนะ)</p>
        <img src="https://ik.imagekit.io/codustry/gebwai/webapp/09122021/hero-slip_fArMhQnTGP3.png?updatedAt=1631493100704" class="rounded-lg shadow-2xl" />
      </div>
    </div>
  </div>

  <div class="hero min-h-screen bg-base-200">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <h1 class="text-5xl font-bold">🔥 ใหม่ #openbeta ทดลองใช้ฟรี</h1>
        <p class="py-6">แชทบอทที่ทำให้คุณทำงานบนไลน์ได้อย่างมีประสิทธิภาพ</p>
        <ul class="list-disc pl-5 text-left">
          <li>เก็บรูป วิดีโอ และไฟล์ต่างๆ ไว้บนคลาวด์โดยอัตโนมัติ</li>
          <li>แยกให้ตามแชทเป็นระเบียบ เข้าถึงง่าย</li>
          <li>ต่อยอดได้อีกเยอะ จะแชร์ก็ง่าย ไฟล์ไม่หมดอายุ IFTTT ฯลฯ</li>
        </ul>
        <a href="https://lin.ee/BJ4dbWO" target="_blank" class="btn btn-primary mt-4">
          <img src="https://ik.imagekit.io/codustry/gebwai/webapp/09122021/icon-line_0rpRKefoO.svg?updatedAt=1631423624423" class="h-6 mr-2" />
          ลองใช้บนไลน์
        </a>
        <a href="https://youtu.be/bdM662aAi_k" class="btn btn-link mt-4">ดูวีดิโอ เริ่มต้นการใช้งาน</a>
      </div>
    </div>
  </div>

  <div class="hero min-h-screen bg-base-200">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <h1 class="text-5xl font-bold">ข้อมูลเป็นของคุณเสมอ</h1>
        <p class="py-6">จากไลน์ตรงไปสู่ผู้ให้บริการคลาวด์ของคุณ "เก็บไว้" ไม่เก็บหรือส่งต่อข้อมูลประวัติสนทนาหรือไฟล์ใดๆ ไปที่อื่น</p>
        <h1 class="text-5xl font-bold">Security ระดับโลก</h1>
        <p class="py-6">มั่นใจได้ว่าระบบของเราปลอดภัย เพราะเราใส่ใจและให้ความสำคัญ: การเข้ารหัสทุกการเชื่อมต่อ, การเก็บข้อมูล การออกแบบ จัดการ ตรวจสอบสิทธิการเข้าถึงที่รัดกุม</p>
        <h1 class="text-5xl font-bold"><a href="https://th.wikipedia.org/wiki/มาริเอะ_คนโด" class="link">มาริเอะ คนโดะ</a> 👍</h1>
        <p class="py-6">คุณจะ spark joy กับการจัดระเบียบไฟล์ของ "เก็บไว้" แล้วจะไม่ต้องเสียเวลาจัดหรือหาไฟล์อีกต่อไป หยิบใช้งานเองก็ง่าย แชร์ให้เพื่อนก็สบาย</p>
      </div>
    </div>
  </div>
</Layout>


